<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.col-md-4.header-logo {
    width: 100%;
}
.widget.widget_meta {
    display: none!important;
}</style>
<!-- end Simple Custom CSS and JS -->
